name: Push Image

on:
  workflow_call:
    inputs:
      runs-on: 
        default: ubuntu-latest
        required: false
        type: string
        description: Use runs-on to define the type of machine to run the job on.

      build-args:
        required: false
        type: string
        description: List of build args for docker

      context:
        required: false
        type: string
        description: Build's context is the set of files located in the specified PATH or URL
        default: .

      environment:
        type: string
        required: false
        default: docker
        description: The environment to deploy to.

      image-name:
        required: true
        type: string
        description: The name of image. EG "jgw/redis".

      image-tag:
        required: true
        type: string
        description: The tag of the image. EG '1.0.0'. Latest is always pushed as well.

      registry:
        required: false
        type: string
        description: Server address of Docker registry. If not set then will default to Docker Hub.

    secrets:
      DOCKER_REPO_USERNAME:
        required: true

      DOCKER_REPO_PASSWORD:
        required: true

      GH_TOKEN:
        required: false

jobs:
  push-image:
    name: Push Image
    runs-on: ${{ inputs.runs-on }}
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.DOCKER_REPO_USERNAME }}
          password: ${{ secrets.DOCKER_REPO_PASSWORD }}

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          build-args: |
            ${{ inputs.build-args }}
            GH_TOKEN=${{ secrets.GH_TOKEN || github.token }}
          context: ${{ inputs.context }}
          platforms: |
            linux/amd64
            linux/arm64
          push: true
          tags: |
            ${{ inputs.image-name }}:${{ inputs.image-tag }}
            ${{ inputs.image-name }}:latest
